<!DOCTYPE html>
<html lang="en">
<head>
	{{> htmlHead }}
	<link rel="stylesheet" type="text/css" href="{{css}}">
</head>
<body>
	<header>
		<div class="header">
			<div class="header--logo"> Pintrest App </div>
			{{#if auth }}
				{{ homeHeader }}
			  {{else}}
			     {{ profileHeader }}
			{{/if}}
		</div>
	</header>

	<main>
		<input type="text" name="url" class="imgUrl">
		<button>add img</button>
		{{!-- {{#each res}}
		<img class="imgs" src="{{res.url}}">
		{{#if id === res.id}}
		<button>delete</button>
		{{/if}}
		{{/each}} --}}
	</main>

	<footer>
		{{> footer }}
	</footer>

	<script type="text/javascript" src="{{ js }}"></script>
</body>

</html>

